.wrapper {
  @include clearfix();
  margin: 3em auto 1em auto;
  max-width: 55em;
  padding: 0 1em;
}

section.body-copy,
article.body-copy,
main.news-archive {
  clear: both;
  @include columns(8, false, 4%);
  margin-bottom: 1em;
}

nav.content,
nav.basic {
  @include columns(4, true, 4%);
}

div.navigation{
  @include columns(4, true, 4%);
  nav.content,
  nav.basic {
    width:100%;
    float:none;
  }  
}

@media (max-width: 48em) {
  .wrapper {
    max-width: 34em;
  }

  section.body-copy,
  article.body-copy,
  nav.content,
  nav.basic,
  div.navigation,
  main.news-archive {
    @include columns(12);
  }
}

.feedback,
.m-share,
.contact-us {
  @include columns(8, false, 4%);
  @media (max-width: 48em) {
    @include columns(12);
  }
}

.m-share {
  margin-bottom: .5em;
}