section.news {
  @include clearfix();
  @include box-sizing(border-box);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  > ul > li {
    margin-bottom: 1.5em;
    @include columns(3, false, 3%);
    &:last-child {
      @include columns(3, true, 3%);
    }
    @media (max-width: 48em) {
      &:nth-child(2n+1) {
        @include columns(6, false, 3%);
      }
      &:nth-child(2n) {
        @include columns(6, true, 3%);
      }
    }
    @media (max-width: 26em) {
      &:nth-child(n) {
        @include columns(12);
      }
    }
  }

  h1 {
    display: block;
    font-size: emize(16);
    font-weight: bold;
    line-height: 1;
    font-family: $sans-serif;
    border-bottom: $border;
    margin: 0 0 .6em;
    padding: 0 0 .3em;
  }
  h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $serif;
    font-size: emize(18);
    line-height: 1.3;
    @media (max-width: 58em) { font-size: emize(16) }
    @media (max-width: 48em) { font-size: emize(18) }
    @media (max-width: 40em) { font-size: emize(16) }
    @media (max-width: 26em) { font-size: emize(18) }
    font-weight: normal;
    .date {
      font-family: $sans-serif;
      font-size: .75em;
    }
  }

  li li {
    margin-bottom: .6em;
  }

  li ul {
    margin-top: -.2em;
  }
  li a {
    color: #000;
  }

  .crop {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: .3em;
    overflow: hidden;
    background: $background-light;
    border: $border-dark;
    @include box-sizing(border-box);
  }
  img {
    @include box-sizing(border-box);
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .more {
    text-align: right;
    margin-bottom: -.5em;
    a {
      font-family: $sans-serif;
      font-size: emize(14);
      color: $link-color;
      &::after {
        // content: ' …';
      }
    }
  }
}
