.body-copy a,
.body-copy a.normal,
.body-copy .normal a,
.body-copy a.normal {
  font-size: 100% !important;
  font-weight: inherit;
  font-family: inherit;
  font-style: normal;
  color: $link-color;
}

.mf-v4 .btn-primary,
.mf-v4 .act-now a,
.act-now .mf-v4 a {
  color: #fff;  
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.body-copy div.full {
  >img,
  > a > img {
    width: 100% !important;
    height: auto !important;
    margin: 0 0 1em;
  }
}

.body-copy .img-secondary img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: .3em;
}

.box .box-content p,
.box .box-content li {
  font-size: 15px !important;
}

.body-copy p.sv-portlet-image-caption {
  font-family: $sans-serif;
  font-size: .875em;
  line-height: 1.2;
  margin: 0 0 1.5em;
  font-style: normal;
}

.body-copy .full img+p.sv-portlet-image-caption {
  margin-top: -.7em;
}

.contact-box {
  clear: both;
}

.body-copy .sv-channel {
  margin: 0;
  list-style: none;
  padding: 0;
}

.box.featured {
  .sv-text-portlet:first-child ~ .sv-text-portlet {
    margin: .6em;
    padding: 0;   
  }
  .sv-text-portlet:first-child h2 {
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    font-size: 0.875em;
    line-height: 1.28571429em;
    font-family: "OpenSans", "Droid Sans", "Verdana", "DejaVu Sans", sans-serif;
    font-weight: normal;
    margin: 0 0 .6em;
    padding: .4em .6em .5em;
    background: #757575;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    ~ * {
      border:2px solid red;
      &:before,
      &:after{
        color:#777;
      }
      &:before{
        content:"Endast en rubrik tillåtet [";
      }
      &:after{
        content:"]";
      }
    }
  }
}