@charset "UTF-8";

body a,.normal a{
    color: $link-color;
}
.sv-editing-mode {
    margin-top:84px !important;
    
    #malmo-masthead {
      top: 30px;
      z-index:999999;
    }
    section.start-page-main {
      div.banner img {
        width: 100% !important;
        height: auto !important;
      }
    }
    .sv-format-menu .sv-format-item {
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-family: arial;
      line-height: normal;
    }
}
a.body, body a, .body a, a.portlet-font, a.portlet-font-label, a.portlet-font-dim, a.portlet-msg-status, a.portlet-msg-info, a.portlet-msg-error, a.portlet-msg-alert, a.portlet-section-selected, a.portlet-section-footer, a.portlet-form-label, a.portlet-form-input-field, a.portlet-form-button, a.portlet-icon-label, a.portlet-dlg-icon-label, a.portlet-form-field-label, a.portlet-form-field, a.portlet-menu, a.portlet-menu-item, a.portlet-menu-item-selected, a.portlet-menu-item-hover, a.portlet-menu-item-hover-selected, a.portlet-menu-cascade-item, a.portlet-menu-cascade-item-selected, a.portlet-menu-description, a.portlet-menu-caption, a.sv-portlet-link-description, a.sv-portlet-primary-paragraph, a.normal, .portlet-font a, .portlet-font-label a, .portlet-font-dim a, .portlet-msg-status a, .portlet-msg-info a, .portlet-msg-error a, .portlet-msg-alert a, .portlet-section-selected a, .portlet-section-footer a, .portlet-form-label a, .portlet-form-input-field a, .portlet-form-button a, .portlet-icon-label a, .portlet-dlg-icon-label a, .portlet-form-field-label a, .portlet-form-field a, .portlet-menu a, .portlet-menu-item a, .portlet-menu-item-selected a, .portlet-menu-item-hover a, .portlet-menu-item-hover-selected a, .portlet-menu-cascade-item a, .portlet-menu-cascade-item-selected a, .portlet-menu-description a, .portlet-menu-caption a, .sv-portlet-link-description a, .sv-portlet-primary-paragraph a, .normal a{
    font-family:inherit;
}
.sv-kontaktruta-stadsomraden-portlet {
	height: auto;
	width: 100%;
}
footer.bigfoot div.navs nav > div{
    width:100%;
}
.body-copy a.normal:hover,
.body-copy .normal > a:hover {
	text-decoration: underline;
}
.body-copy .act-now a:hover{
  text-decoration: none;
}
nav.nav-page-with-direct-links {
	h2{
		a {
			font-size: inherit;
			font-weight: inherit;
		}
	}
}

.newArticleLinks a{
	color:#000;
	text-decoration:underline;
	display:block;
	font-family: "trebuchet ms",sans-serif,sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 13px;
	&:last-child{
  		margin-bottom:10px;
	}
}

.body-copy .pagecontent{
	overflow:hidden;
}

.no-content {
  position: relative;
  border: $danger-color 3px solid;
  padding: 2em 1em;
  &::before {
    padding: .2em .8em .3em;
    top: 0;
    left: 0;
    content: 'Detta innehåll ska tas bort';
    position: absolute;
    color: #fff;
    background-color: $danger-color;
    font-family: $sans-serif;
    text-transform: uppercase;
    font-size: emize(12);
    letter-spacing: .2em;
  }
}

.sv-file-portlet td img {
  min-width: 14px;
}

main.news-archive>section a {
    color: #007896;
    font-size:inherit;
    font-family:inherit;
    font-weight:inherit;
}
nav.basic .current a{
    font-weight:inherit;
}

.sv-form-portlet,
.sv-survey-portlet,
.sv-signup-portlet{
  form{
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"]{  
      width:100%;
    }
    .sv-form-datefield select{
      width:auto;
      display:inline-block;
    }
    .sv-form-subalternativefield{
      >legend + div{
        width:100%;
      }
    }
  } 
}

.sv-form-portlet form {
  fieldset.sv-form-userattributefield > div {
    width: 49%;
    @media (max-width: 20em) {
      width:100%;
    }
  }
}
.sv-signup-portlet form > div input.svhidden ~ div,
.sv-signup-portlet form > div > div input.svhidden ~ div,
.sv-form-portlet form input[id^='mailname'] ~ div,
.sv-survey-portlet form > div > div:last-child > div > div,
.sv-survey-portlet form > div > div[style^=padding-bottom],
.sv-editing-mode .sv-survey-portlet > div[style^=padding-bottom]{
  margin-bottom:1em !important;
  padding-bottom:0;
}
.sv-signup-portlet form > div > div:first-child{
  float:none !important;
  margin:0;
  +div{
    background-color: #fff !important;
    padding: 0 !important;
    border: 0 !important;
  }
}

.body-copy .meta {
  font-family: $sans-serif;
  font-size: emize(14);
}

.box-title{
  h1,h2,h3 {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
  }
}
.start-page-main{
  .primary-news,
  .secondary-news,
  .employee-news,
  .link-list{
    .sv-spacer{
      padding: 0 !important;
    }
  }
}