section.movies {
  position: relative;
  @include clearfix();
  padding: .5em .8em 0;
  background: $background-darker;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    margin-bottom: 1.2em;
    @include columns(2, false);
    &:last-child {
      @include columns(2, true);
      margin-bottom: 2em;
    }
    @media (min-width: 38em) and (max-width: 51.99em) {
      &:nth-child(3n+1) {
        @include columns(4, false, 3%);
      }
      &:nth-child(3n+2), &:nth-child(3n+2) {
        @include columns(4, false, 3%);
      }
      &:nth-child(3n) {
        @include columns(4, true, 3%);
      }
    }
    @media (min-width: 26em) and (max-width: 37.99em) {
      &:nth-child(2n+1) {
        @include columns(6, false, 4%);
      }
      &:nth-child(2n) {
        @include columns(6, true, 4%);
      }
    }
    @media (max-width: 25.99em) {
      &:nth-child(n+0) {
        @include columns(12, true);
      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  h1 {
    display: block;
    font-size: emize(16);
    font-weight: bold;
    line-height: 1;
    font-family: $sans-serif;
    border-bottom: $border;
    margin: 0 0 .6em 0;
    padding: 0 0 .3em;
    color: #fff;
  }
  h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $sans-serif;
    font-size: emize(12);
    @media (max-width: 51.99em) {
      font-size: emize(14);
    }
    font-weight: normal;
  }

  .crop {
    @include box-sizing(border-box);
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: .3em;
    overflow: hidden;
    background: $background-light;
    border: 1px solid #000;
  }
  .city-council {
    .crop {
    }
  }


  .play {
    position: absolute;
    z-index: 2;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/play.png) 50% 50% no-repeat;
    background-size: 100%;
    @media (max-width: 25.99em) {
      background-size: 75%;
    }
    @include transition(opacity 0.5s);
    opacity: 0;
  }
  a:hover .play {
    opacity: .9;
  }
  img {
    @include box-sizing(border-box);
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .more {
    position: absolute;
    bottom: .5em;
    right: 1em;
    font-family: $sans-serif;
    font-size: emize(14);
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
    &::after {
      // content: ' …'
    }
  }
}
